.centerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vh;
    height: 70vh;
    margin: 20px;
    text-align: center;
    border: solid 1px rgba(128, 128, 128, 0.253);
}

.cardContainer img {
    width: auto;
    height: auto;
}

span {
    text-align: center;
}

.detailRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detailRow h1 {
    color: black;
}