.container {
        display: grid;
        grid-template-columns: 1fr 1.5fr 2fr repeat(3, 0.5fr);
        grid-column-gap: 20px;
        padding: 20px;
        align-items: center;
        text-align: left;
}

.container img {
        width: 200px;
}

.container p{
        text-align: center;
}

.container h1 {
        color: black;
}
.buttonDelete {
        font-size: 16px;
        text-align: center;
        color: #fff;
        width: 100%;
        padding: 20px 0;
        font-weight: 600;
        line-height: 1;
        cursor: pointer;
        border: 1px solid #333;
        background: #333;
        text-decoration: none;
        width: 100px;
        margin-left: 50px;
} 

.buttonDelete:hover {
        background-color: rgb(231, 112, 112);
}

